.widget-builder-grid {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}
.grid-square {
  flex: 1 1 8%;
  width: '100%';
  height: 'auto';
  border-right: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}

.grid-square.even {
  background-color: #f4f4f4;
}

.drop-item-highlight {
  background-color:  lightblue;
}
